<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>View idea</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/entrepreneur_ideas/resources/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
            footer{
            	clear:both;
            }
            #frm-comment-textarea{
            	margin-bottom: 20px;
            }
            .comment-view{
            	padding: 20px;
            	margin: 20px 0;
            	width: 400px;
            	-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				border-radius: 6px;
				border: 1px solid #eeeeee;
            }
            .info-panel {
				padding: 30px;
				margin-bottom: 10px;
				font-size: 18px;
				font-weight: 200;
				line-height: 30px;
				color: inherit;
				background-color: #eeeeee;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				border-radius: 6px;
				width: 60%;
				float: left;
			}
			.mygrid-wrapper-div {
				border: none;
    			overflow: auto;
    			float: right;
    			width: 38%;
    			position: relative;
    			margin: 0px 0px 0px 5px;
			}
			.comment-form {
				float: left;
				position: relative;
				width: 60%;
			}
        </style>
        <link rel="stylesheet" href="/entrepreneur_ideas/resources/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/entrepreneur_ideas/resources/css/main.css">
        
        <script src="/entrepreneur_ideas/resources/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="/entrepreneur_ideas/resources/js/vendor/jquery-1.10.1.min.js"></script>
        <script src="/entrepreneur_ideas/resources/js/vendor/bootstrap.min.js"></script>
		
		<script src="/entrepreneur_ideas/resources/js/vendor/json2.js"></script>
		<script src="/entrepreneur_ideas/resources/js/vendor/underscore.js"></script>
		<script src="/entrepreneur_ideas/resources/js/vendor/backbone.js"></script>
		
		<script src="/entrepreneur_ideas/resources/js/model.js"></script>
        <script src="/entrepreneur_ideas/resources/js/main.js"></script>
    </head>
    <script>
    EnterApp.Sync.getUserProfile({
		success: function(response){
			globalUserObject = response.responseObject;
			setEnvironment();
		},
		error: function(response){
			alert(response.message);
		}
	});
    </script>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="view_idea.html" onclick=""> Enter Idea </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Idea <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="index.html">List of ideas</a></li>
                <li><a href="create_idea.html">Create new idea</a></li>
              </ul>
            </li>
          </ul> 
          <ul id="user-menu" class="nav navbar-nav">
          </ul>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	      <button  class="btn btn-success navbar-btn" id="logout-link" style="float:right;" >Logout</button >    
	    </div><!--/.navbar-collapse -->
      </div>
    </div>
   
	<div class="container">
		<div class ="view_wrapper" style="width:60%;" >
			<div class = "view_additionalinfo" >
				<br><br>
				<a href="index.html" class="btn btn-danger" style="margin-bottom: 10px;" >Back to idea list</a>
			</div>
		</div>
		
		<div class="clearing">&nbsp;</div>
		
		<div class ="info-panel">
			
			<div class = "view_additionalinfo">
				<br>
       	 		<span style="font-style:italic;font-weight: bold">Author:</span><br> <span id="idea-author"></span><br>
       	 		<span style="font-style:italic;font-weight: bold">Created on:</span><br> <span id="creation-date"></span><br>
       	 		<span style="font-style:italic;font-weight: bold">Last Modified:</span><br> <span id="modification-date"></span><br>
        	</div>
        	
        	<div class = "view_maininfo heightfix">
        			<h2 id="idea-title"> Title</h2>
        			<span style="font-weight:bold;font-style:italic;">Topic: </span><span id="idea-topic"></span>
        	</div>
        	
        	<div id="idea-description" style="width:70%"></div>
        	
        	<div id="btn-ctrl-idea" style="margin-top:30px"></div>
	        
	        <div class="clearing">&nbsp;</div>
			
        </div>
        <div style="float: left;margin: 0px 0px 5px 20px;padding: 0px 0px 5px 5px;"><h4>Comment List:</h4></div>
        <div id="commentsContainer" class ="mygrid-wrapper-div">
		<span id="no-comments" ></span> 	
		</div>
        
        <div class="comment-form" >		
			<h3>Comments</h3>
      		<form id="frm-add-comment"  name="frm-add-comment" action="">
	  			<textarea class="form-control" id="comment-input"  placeholder="Write the text of your comment here..." style="width: 400px"></textarea>
		    	<a class="btn btn-primary" style="margin-top: 5px;" id="frm-comment-submit" >Add Comment</a>
		 	</form>
		 </div>
		 
		 <div class="clearing">&nbsp;</div>
		 
		 

      <footer>
        <p>&copy; LatinGerIran Inc. 2013</p>
      </footer>
     </div>
     
     <script type="text/template" id="commentRowTemplate">
		<div class="comment-view" data-id="<%= commentId %>">
			<p><%= text %></p>
			<p><strong>by: </strong> <%= owner %></p>
			<p><%= delOption %></p>
		</div>
	</script>
     
     <script>
			
			var queryIdeaId = EnterApp.Utils.queryStringParam("id");
				
			function validateForm(setOfInput){
				var message = "";
				result = true;
				if(setOfInput.text == ""){
					message += "Please fill the text for the comment\n";
					result = false;
				}
				if(setOfInput.text.length >= 50)
				{
					message += "Size of text is bigger than permitted\n";
					result = false;
				}
				if(message){
					alert(message);	
				}
				return result;
			}
			
			$("#frm-comment-submit").on("click", function(){
				var commentAttributes = {idIdea: queryIdeaId, 
										 text: $("#comment-input").val(), 
										 owner: globalUserObject.userId};
				
				if(validateForm(commentAttributes)){
					EnterApp.Sync.saveComment(commentAttributes,{
						success: function(response){
							var newComment = response.responseObject;
							var model = {
									commentId: newComment.commentId,
									"text": newComment.comment, 
									owner: newComment.commenterFirstName+" "+newComment.commenterLastName,
									delOption : ''
								}
							
							//Add the link to the logic of deleting comment here
							//The guy who just commented for sure is the owner so no checking is needed
		    		        model.delOption = '<a class="badge badge-inverse remove-comment-link" href="#" style="float: right;" >Remove</a>';
		    		        		
							var template = _.template( $("#commentRowTemplate").html(), model);
							
							if($("#no-comments").length)
								$("#no-comments").remove();
		    		        $("#commentsContainer").append(template);
		    		        $("#comment-input").val("");
							alert("The comment was added");
							
							addRemoveCommentListener();
						},
						error: function(response){
							alert("The comment could not be added");
						}
					});	
				}
			});
			
			$(function() {  
			    var window_height = $(window).height(),
			       content_height = window_height - 350;

			    $('.mygrid-wrapper-div').height(content_height);
			});

			$( window ).resize(function() {
			    var window_height = $(window).height(),
			       content_height = window_height - 350;
			    $('.mygrid-wrapper-div').height(content_height);
			});
			
			$("#logout-link").on("click",function(){
	    		EnterApp.Sync.doLogout({
					success: function(response){
						location.href = "login.html";
					},
					error: function(response){
						alert(response.message);
					}
				});	
	    	});
			
			function addRemoveCommentListener(){
				$(".remove-comment-link").on("click",function(){
					if(confirm("Are you sure you want to delete this comment?")){
		        		var commentId = $(this).parents(".comment-view").attr("data-id");
		        		EnterApp.Sync.removeComment(commentId, {
		        			success: function(response){
		        				alert(response.message);
		        				location.reload();
		        			},
		        			error: function(response){
		        				alert(response.message);
		        			}
		        		});
					}
	        	});	
	    	}
			
			function addRemoveIdeaListener(){
	    		$("#do-delete").on("click",function(){
	    			if(confirm("Are you sure you want to delete this idea?")){
	            		EnterApp.Sync.removeIdea(queryIdeaId, {
	            			success: function(response){
	            				alert(response.message);
	            				location.href = "index.html";
	            			},
	            			error: function(response){
	            				alert(response.message);
	            			}
	            		});	
	    			}
	        	});
	    	}
			
			function setEnvironment(){
	    		if(globalUserObject.moderator){
		    		$("#user-menu").append(
		    				'<li class="dropdown">'+        
		    	    		'<a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <b class="caret"></b></a>'+          
		    	    		'<ul class="dropdown-menu">'+          
		    	    			'<li><a href="list_users.html">List of users</a></li>'+            
		    	    		'</ul>'+          
		    	    	'</li>'
		    		);
	    		}
	    		
	    		EnterApp.Sync.getIdea(queryIdeaId, {
					success: function(response){
						var ideaInfo = response.responseObject;
						$("#idea-title").text(ideaInfo.title);
						$("#idea-description").text(ideaInfo.description);
						$("#idea-topic").text(ideaInfo.topicDescription);
						$("#idea-author").text(ideaInfo.ownerFirstName+" "+ideaInfo.ownerLastName);
						$("#creation-date").text(ideaInfo.dateToShow);
						$("#modification-date").text(ideaInfo.dateToShow);
						
						if(ideaInfo.ownerNickName == globalUserObject.nickname){
							$("#btn-ctrl-idea").append('<a class="btn btn-primary" id="frm-goto-edit-button">Edit idea</a>');
							$("#frm-goto-edit-button").on("click", function(){
								location.href = "edit_idea.html?id="+queryIdeaId;
							});	
						}
						//Add the link to the logic of deleting idea here
						if(globalUserObject.moderator || ideaInfo.ownerNickName == globalUserObject.nickname){
			    			$("#btn-ctrl-idea").append('<a class="btn btn-warning" id="do-delete" style="margin-left: 5px;" >Delete idea</a>');
						}
						
						// Adding remove listener for the delete idea button
						addRemoveIdeaListener();
						
						EnterApp.Sync.loadComments(queryIdeaId, {
				    		success: function(response){
				    			if(response.responseObject.length == 0)
				    				$("#no-comments").html('No Comments');
				    			_.each(response.responseObject, function(comment, index, list){
				    				var model = {
				    					commentId: comment.commentId,
										"text": comment.comment, 
										owner: comment.commenterFirstName+" "+comment.commenterLastName,
										delOption : ''
									}
				    				
				    				//Add the link to the logic of deleting comment here
				    		        if(globalUserObject.moderator || 
				    		        	ideaInfo.ownerNickName == globalUserObject.nickname ||
				    		        	comment.commenterNickName == globalUserObject.nickname){
				    		        		model.delOption = '<a class="badge badge-inverse remove-comment-link" href="#" style="float: right;" >Remove</a>';
				    		        }
				    				
				    				var template = _.template( $("#commentRowTemplate").html(), model);
				    		        $("#commentsContainer").append(template);
				    		        
								});
				    			
				    			addRemoveCommentListener();
				    		},
				    		error: function(response){
				    			alert("The comments could not be obtained");
				    		}
				    	});
						
					},
					error: function(response){
						alert("the idea could not be obtained");
						location.href = "index.html";
					}
				});
	    	}
		</script>
		
    </body>

</body>
</html>