

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
footer{
	margin-top: 20px;
}
#idea-form {
	width: 50%;
}

    .view_maininfo {    
    margin-right: 22%;
    
    }
    .view_additionalinfo {
    float:right;
    width:20%;
    text-align:right;
    font-size:85%;
    }
    .view_wrapper{
    width:70%;
    float: left;
 	 margin-right: -200px;
    }
    .clearing {
  height: 0;
  clear: both;
}
.heightfix:before { 
content: '.';  
display: block;
visibility: hidden;
height: 0;    
}
.centered-text{
	text-align:center;
}

.modal {
	display:    none;
	position:   fixed;
	z-index:    1000;
	top:        0;
	left:       0;
	height:     100%;
	width:      100%;
	background: rgba( 255, 255, 255, .8 ) 
		url('/entrepreneur_ideas/resources/images/ajax-loader.gif') 
		50% 50% 
		no-repeat;
}
			
/* When the body has the loading class, we turn
	the scrollbar off with overflow:hidden */
body.loading {
	overflow: hidden;   
}
			
/* Anytime the body has the loading class, our
	modal element will be visible */
body.loading .modal {
	display: block;
}






