<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<properties>
		<property name="name">enteridea</property>
		<property name="logs.root.folder">logs</property>
		<property name="pattern">%5p | %d{dd/MMM/yyyy HH:mm:ss,SSS} | %F:%L |%m%n</property>
	</properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}" />
		</Console>
		<File name="appInfo" fileName="${logs.root.folder}/${name}_Info.log">
			<PatternLayout pattern="${pattern}"/>
		</File>
		<File name="appDebug" fileName="${logs.root.folder}/${name}_Debug.log">
			<PatternLayout pattern="${pattern}"/>
		</File>
		<File name="appError" fileName="${logs.root.folder}/${name}_Error.log">
			<PatternLayout pattern="${pattern}"/>
		</File>
	</appenders>
	<loggers>

		<Logger name="es.upm.emse.enteridea"  additivity="false" level="trace">
			<appenderRef ref="appError" level="error" />
			<appenderRef ref="appInfo" level="info" />
			<appenderRef ref="appDebug" level="debug" />
			<appender-ref ref="Console" />
		</Logger>
		<root level="trace">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>